{% extends 'helper/base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
<div class="container">
	<h2 class="title-page">My account</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
	
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	{% include 'profile/profile-header.html' %}
	<main class="col-md-9">

		<article class="card">
			<div class="card-body">

		<div class="row">
			{% for w_item in w_items %}
				<div class="col-md-6">
					<figure class="itemside mb-4">
						<div class="aside"><img src="{{ w_item.image.url }}" class="border img-md"></div>
						<figcaption class="info">
							<a href="{% url 'detail-product' w_item.slug %}" class="title">{{ w_item.name }}</a>
							<p class="price mb-2">{{ w_item.price }}</p>
							<del><p class="price mb-2">{{ w_item.old_price }}</p><del>
							{% if w_item  not in cart_items %}
								<a href="{% url 'detail-product' w_item.slug %}" class="btn btn-secondary btn-sm"> Add to cart </a>
							{% else %}
								<a href="{% url 'shop-cart' %}" class="btn btn-secondary btn-sm"> Bu mahsulot cartizda mavjud</a>
							{% endif %}
							<a href="{% url 'delete_from_wishlist' pk=w_item.id data='profile-wishlist' %}"class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				
			{% endfor %}
		</div> <!-- row .//  -->

		</div> <!-- card-body.// -->
	</article>


	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock %}