{% extends 'helper/base.html' %}
{% load static %}
{% block content %}

<section class="py-3 bg-light">
  <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Category name</a></li>
        <li class="breadcrumb-item"><a href="#">Sub category</a></li>
        <li class="breadcrumb-item active" aria-current="page">Items</li>
    </ol>
  </div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
<div class="container">

<!-- ============================ ITEM DETAIL ======================== -->
	<div class="row">
		<aside class="col-md-6">
<div class="card">
<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	  <div> <a href="#"><img src= "{{ product.image.url }}"></a></div>
	</div> <!-- slider-product.// -->
	<div class="thumbs-wrap">
		{% for image in product.product_images.all %}
			<a href="#" class="item-thumb"> <img src="{{ image.image.url }}" ></a>
		{% endfor %}
		
	</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
</div> <!-- card.// -->
		</aside>
		<main class="col-md-6">
<article class="product-info-aside">

<h2 class="title mt-3">{{ product.name }} </h2>

<div class="rating-wrap my-3">
	<ul class="rating-stars">
		<li style="width:80%" class="stars-active"> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> 
		</li>
		<li>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> 
		</li>
	</ul>
	<small class="label-rating text-muted">132 reviews</small>
	<small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
</div> <!-- rating-wrap.// -->

<div class="mb-3"> 
	<var class="price h4">{{ product.price }}  UZS</var><small class="text-muted">/per item</small><br>
	<del><span class="text-muted">{{ product.old_price }}  UZS</span></del>
</div> <!-- price-detail-wrap .// -->

<p>{{ product.description 	 }}</p>


<dl class="row">

  <dt class="col-sm-3">Guarantee</dt>
  {% if product.guaranty %}
 	<dd class="col-sm-9">{{product.guaranty}}</dd>
  {% else %}
	<dd class="col-sm-9">----</dd>
  {% endif %}
  
  {% if product.deliver_time %}
 	<dt class="col-sm-3">Delivery time</dt>
  	<dd class="col-sm-9">{{ product.deliver_time }}</dd>
  {% endif %}

 {% if product.size%}
 	<dt class="col-sm-3">Size</dt>
  	<dd class="col-sm-9">{{ product.size}}</dd>
  {% endif %}

   {% if product.manufacture%}
 	<dt class="col-sm-3">Manufacture</dt>
  	<dd class="col-sm-9">{{ product.manufacture}}</dd>
  {% endif %}
</dl>
<form method='post'>
	{% csrf_token %}
	<div class="form-row  mt-4">
		<div class="form-group col-md flex-grow-0">
			<input class = "quantity" name='quantity' {{ cart_form.quantity }}
		</div> <!-- col.// -->
		<div class="form-group col-md">
			<button data-id={{ product.id }} class="btn  btn-primary add_to_cart" type='submit' > 
				<i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span> 
			</button>
			
		</div> <!-- col.// -->
	</div> <!-- row.// -->
</form>
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->

<!-- ================ ITEM DETAIL END .// ================= -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
<div class="container">

<p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

<div class="row justify-content-md-center">
  <div class="col-lg-4 col-sm-6">
<form class="form-row">
    <div class="col-8">
    <input class="form-control" placeholder="Your Email" type="email">
    </div> <!-- col.// -->
    <div class="col-4">
    <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
    </div> <!-- col.// -->
</form>
<small class="form-text">We’ll never share your email address with a third-party. </small>
  </div> <!-- col-md-6.// -->
</div>
  

</div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->


{% endblock %}