{% extends 'helper/base.html' %}
{% load static %}
{% block content %}
{% comment %} <body class="nightview"> {% endcomment %}
	<!-- ========================= SECTION PAGETOP ========================= -->
	<section class="section-pagetop bg-light">
		<div class="container">
			<h2 class="title-page">Deals and offers</h2>
		</div> <!-- container //  -->
	</section>
	<!-- ========================= SECTION PAGETOP END// ========================= -->


	<section class="section-content bg-white padding-y">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="card-banner overlay-gradient"
						style="min-height:320px; background-image: url('{% static 'images/banners/banner1.jpg' %}');">
						<div class="card-img-overlay white">
							<h3 class="card-title">Great Bundle only for 99$ <br> It is hassle free </h3>
							<p class="card-text" style="max-width: 400px">Lorem ipsum dolor sit amet, consectetur
								adipisicing elit, sed do eiusmod
								tempor incididunt.</p>
							<a href="" class="btn btn-warning">Learn more</a>
						</div>
					</div> <!-- card-banner //end -->
				</div> <!-- col.// -->
				<div class="col-md-4">
					<div class="card-banner"
						style="height:320px; background-image: url('{% static 'images/banners/banner8.jpg' %}');">
						<article class="caption bottom">
							<h5 class="card-title">Watches</h5>
							<p>No matter how far along you are in your sophistication as an amateur.</p>
						</article>
					</div><!-- card-banner //end -->
				</div> <!-- col.// -->
			</div> <!-- row.// -->

			<br>

			<div class="row">
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %10</b>
							<img src="{% static 'images/items/1.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Great Smartwatch</a>
							<div class="price-wrap my-2">
								<span class="price">$45</span>
								<del class="price-old">$90</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %20</b>
							<img src="{% static 'images/items/3.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Cheap and Best demo cloth</a>
							<div class="price-wrap my-2">
								<span class="price">$45</span>
								<del class="price-old">$90</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %10</b>
							<img src="{% static 'images/items/4.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Great book name</a>
							<div class="price-wrap my-2">
								<span class="price">$45</span>
								<del class="price-old">$90</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %10</b>
							<img src="{% static 'images/items/5.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Great book name</a>
							<div class="price-wrap my-2">
								<span class="price">$45</span>
								<del class="price-old">$90</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %10</b>
							<img src="{% static 'images/items/7.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Great book name</a>
							<div class="price-wrap my-2">
								<span class="price">$45</span>
								<del class="price-old">$90</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %10</b>
							<img src="{% static 'images/items/8.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Great product name</a>
							<div class="price-wrap my-2">
								<span class="price">$65</span>
								<del class="price-old">$190</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %10</b>
							<img src="{% static 'images/items/9.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Great Headset stereo music</a>
							<div class="price-wrap my-2">
								<span class="price">$245</span>
								<del class="price-old">$390</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
				<div class="col-md-3">
					<article class="card card-product-grid">
						<div class="img-wrap">
							<b class="badge badge-danger mr-1">SAVE %10</b>
							<img src="{% static 'images/items/10.jpg' %}">
						</div>
						<div class="info-wrap">
							<a href="#" class="title">Amazing Speaker</a>
							<div class="price-wrap my-2">
								<span class="price">$45</span>
								<del class="price-old">$90</del>
							</div> <!-- price-wrap.// -->
							<a href="#" class="btn btn-block btn-primary">Order now</a>
						</div>
					</article>
				</div> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- container .//  -->

	</section>
	<!-- ========================= SECTION DEAL END// ========================= -->

{% endblock %}