{% load static %}
{% include 'registrate/r_header.html' %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form method='POST'>
			{% csrf_token %}

			
			{% comment %} {% for field in form %}
				{{field.label}}
				{{field}}<br>
			{% endfor %}  {% endcomment %}
			<div class="form-row">
				<div class="col form-group">
					<label>First name</label>
					<input type="text" class="form-control" name='first_name' placeholder="">
				</div> <!-- form-group end.// -->
				<div class="col form-group">
					<label>Last name</label>
					<input type="text" class="form-control" name='last_name' placeholder="">
				</div> <!-- form-group end.// -->
			</div> <!-- form-row end.// -->
			<div class="form-row">
				<div class="col form-group">
					<label>Username</label>
					<input type="text" class="form-control" name='username' placeholder="">
				</div> <!-- form-group end.// -->
				<div class="col form-group">
					<label>Email</label>
					<input type="email" class="form-control" name='email' placeholder="">
					<small class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div> <!-- form-group end.// -->
			</div> <!-- form-row end.// -->
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Create password</label>
					<input class="form-control" type="password" name='password1'>
				</div> <!-- form-group end.// --> 
				<div class="form-group col-md-6">
					<label>Repeat password</label>
					<input class="form-control" type="password" name='password2'>
				</div> <!-- form-group end.// -->  
			</div>
			<div class="form-row">
				{{ error }}  
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Register  </button>
			</div> <!-- form-group// -->      
			{% comment %} <div class="form-group"> 
				<label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>
			</div> <!-- form-group end.// -->          {% endcomment %}
		</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->